*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body{
  min-height: 100vh;
  color: #E4E6EB;
  background-color: #18191A;
}

.h-42r {
  height: 42rem;
}

.bg-main-color {
  background-color: #242526;
}

.header {
  background-color: #242526;
  border-color: #3A3B3C;
}

.input-background {
  background-color: #3A3B3C;
}

.divider {
  background-color: #3A3B3C;
  height: 1px;
  width: 100%;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
